<div class="panel-group" id="accordion3">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion3" href="#collapseOne3">
          Poster params
        </a>
      </h4>
    </div>
    <div id="collapseOne3" class="panel-collapse collapse ">
      <div class="panel-body"></div>
    </div>
  </div>
</div>